<section class="py-5 position-relative edge-glow" id="apropos">
    <div class="container position-relative" style="z-index:1;">
        <div class="row g-4 align-items-start">
            <div class="col-lg-7">
                <span class="pill">{{ _("À propos") }}</span>
                <h1 class="display-6 mt-3 mb-2">{{ _("Qui sommes-nous ?") }}</h1>
                <h2 class="h2 fw-bold mb-3" style="line-height:1.25">{{ _("Plus qu’un cabinet de conseil et de SI, nous
                    faisons de vos systèmes et de vos données des alliés fiables et performants.") }}</h2>
            </div>
            <div class="col-lg-5 d-flex justify-content-lg-start justify-content-center align-items-end"
                style="height: 14rem; ">
                <div class="logo-card-about"><img alt="AMOAMAN & Associés"
                        src="assets/amoamancustom/images/newlogo.webp"></div>
            </div>
        </div>


        <div class="row  g-4">
            <div class="col-lg-7 d-flex gap-4 flex-column">
                <p class="lead-strong mb-2">{{ _("Nous accompagnons les entreprises à chaque étape de leur évolution
                    digitale. Grâce à une approche personnalisée et collaborative, nous révélons le potentiel de vos
                    données, trouvons vos talents et synchronisons vos systèmes.") }}</p>
                <div class="chips">
                    <span class="chip">{{ _("Une organisation plus agile") }}</span>
                    <span class="chip">{{ _("Plus compétitive") }}</span>
                    <span class="chip">{{ _("Plus connectée à ses enjeux") }}</span>
                    <span class="chip">{{ _("Une croissance accélérée") }}</span>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-flex flex-column gap-2">
                    <div class="bullet">
                        <div class="icon"><img src="assets/amoamancustom/images/gravity-ui_seal-check.svg" alt="gravity-ui_seal-check"></div>
                        <div>
                            <h6>Créativité</h6>
                            <p>{{ _("Nous valorisons la créativité et l’ingéniosité pour développer des solutions
                                personnalisées.") }}</p>
                        </div>
                    </div>
                    <div class="bullet">
                        <div class="icon"><img src="assets/amoamancustom/images/gravity-ui_seal-check.svg" alt="gravity-ui_seal-check"></div>
                        <div>
                            <h6>Engagement</h6>
                            <p>{{ _("Nous nous consacrons pleinement à la réussite de nos projets clients, étape par
                                étape.") }}</p>
                        </div>
                    </div>
                    <div class="bullet">
                        <div class="icon"><img src="assets/amoamancustom/images/gravity-ui_seal-check.svg" alt="gravity-ui_seal-check"></div>
                        <div>
                            <h6>Excellence</h6>
                            <p>{{ _("L’exigence guide chacun de nos projets pour garantir la pleine satisfaction de nos
                                clients.") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="w-100 ralative">
            <!-- Grand texte décoratif -->
            <div class="bg-hero d-none d-md-block">
                <div class="big">one&nbsp;team&nbsp;spirit</div>
            </div>
        </div>


        <div class="row g-4 text-center">
            <div class="col-lg-6">
                <div class="card-soft h-100">
                    <div class="mini"><img src="/assets/amoamancustom/images/idea1.svg" class="w-100" /></div>
                    <p>{{ _("Nous croyons qu’un vrai progrès vient de solutions conçues pour leur environnement. AMOAMAN
                        & Associés s’engage à développer, avec vous, des systèmes intelligents qui répondent à vos
                        besoins spécifiques, avec un savoir-faire africain au cœur de chaque projet.") }}</p>
                    <h5 class="mb-3">{{ _("Créer des solutions pensées ici, pour exceller ici.") }}</h5><button
                        class="btn btn-soft">{{ _("Notre vision") }}</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-soft h-100">
                    <div class="mini"><img src="/assets/amoamancustom/images/idea2.svg" class="w-100" /></div>
                    <p>{{ _("Nous mettons la technologie au service de votre stratégie. Notre mission est d’apporter des
                        réponses concrètes à vos enjeux de performance, d’agilité et de compétitivité, grâce à une
                        expertise solide et contextualisée.") }}</p>
                    <h5 class="mb-3">{{ _("Déployer l’innovation pour servir votre stratégie.") }}</h5><button
                        class="btn btn-soft">{{ _("Notre mission") }}</button>
                </div>
            </div>
        </div>
    </div>
</section>