<section class="py-5 position-relative edge-glow d-md-flex  flex-md-column justify-content-between align-items-center" id="apropos">
    <div class="container   about  position-relative" style="z-index:1;">
        <div class="row  g-4   align-items-start">
            <div class="col-lg-7 about-section">
                <span class="section-capsule">{{ _("À propos") }}</span>
                <h1 class="display-6 subtitle mt-3 mb-2 section-big-title">{{ _("Qui sommes-nous ?") }}</h1>
                <h2 class="h2 mb-3 section-subtitle" style="line-height:1.25">{{ _("Plus qu’un cabinet de conseil et de SI, </br> nous
                    faisons de vos systèmes et de vos </br> données des alliés fiables et performants.") }}</h2>
            </div>
            <div class="col-lg-4 about-img-content "
                style="height: 17rem; ">
                <div class="logo-card-about">
                    <img alt="AMOAMAN & Associés" src="assets/amoamancustom/images/newlogo.webp">
                    <span class="glow" style="--x:53%; --y:46%; --size:45vmin; --blur:28px;"></span>
                </div>
            </div>
        </div>


        <div class="row  g-0">
            <div class="col-lg-7 d-flex gap-4 flex-column">
                <p class="lead-strong mb-2 section-subtitle">
    {{ _("Nous accompagnons les entreprises à chaque étape de leur <br class='d-none d-md-block'> évolution digitale. Grâce à une approche personnalisée et <br class='d-none d-md-block'> collaborative, <strong> nous révélons le potentiel de vos données, <br class='d-none d-md-block'> trouvons vos talents et synchronisons vos systèmes. </strong>") }}
</p>

                <div class="chips">
                    <div>
                        <span class="chip">{{ _("Une organisation plus agile") }}</span>
                        <span class="chip">{{ _("Plus compétitive") }}</span>
                    </div>
                    <div class="p-2">
                        <span class="chip">{{ _("Plus connectée à ses enjeux") }}</span>
                        <span class="chip">{{ _("Une croissance accélérée") }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5  p-bullet">
                <div class="d-flex flex-column gap-2">
        
                    <div class="bullet">
                        <div class="icon">
                            <img src="assets/amoamancustom/images/gravity-ui_seal-check.svg" alt="gravity-ui_seal-check">
                        </div>
                        <div class="text">
                            <h6>Créativité</h6>
                    <p>{{ _("Nous valorisons la créativité et l’ingéniosité </br>pour développer des solutions
                                personnalisées.") }}</p>
                        </div>
                    </div>
        
                    <div class="bullet">
                        <div class="icon">
                            <img src="assets/amoamancustom/images/gravity-ui_seal-check.svg" alt="gravity-ui_seal-check">
                        </div>
                        <div class="text">
                            <h6>Engagement</h6>
                            <p>{{ _("Nous nous consacrons pleinement à la réussite </br>  de nos projets clients, étape par
                                étape.") }}</p>
                        </div>
                    </div>
        
                    <div class="bullet">
                        <div class="icon">
                            <img src="assets/amoamancustom/images/gravity-ui_seal-check.svg" alt="gravity-ui_seal-check">
                        </div>
                        <div class="text">
                            <h6>Excellence</h6>
                            <p>{{ _("L’exigence guide chacun de nos projets pour </br>  garantir la pleine satisfaction de nos
                                clients.") }}
                            </p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        </div>

</div>
            <!-- Grand texte décoratif -->
            <div class="bg-hero d-none d-md-block">
                <div class="big">one&nbsp;team&nbsp;spirit</div>
            </div>

            <div class="about">


        <div class="d-flex about-card-content flex-column flex-md-row justify-content-center align-items-center  text-center">
                <div class="card-soft">
                    <div class="mini"><img src="/assets/amoamancustom/images/vision1.svg" class="w-100" /></div>
                    <p>{{ _("Nous croyons qu’un vrai progrès vient de solutions <br class='d-none d-md-block'> conçues pour leur environnement. AMOAMAN
                        & <br class='d-none d-md-block'> ASSOCIES s’engage à développer, avec vous, des systèmes <br class='d-none d-md-block'> intelligents qui répondent à vos
                        besoins spécifiques, <br class='d-none d-md-block'> avec un savoir-faire africain au cœur de chaque projet.") }}</p>
                    <h5 class="mb-3">{{ _("Créer des solutions pensées ici, <br class='d-none d-md-block'> pour exceller ici.") }}</h5><button
                        class="capsule text-center">{{ _("Notre vision") }}</button>
                </div>
                <div class="card-soft">
                    <div class="mini"><img src="/assets/amoamancustom/images/vision2.svg" class="w-100" /></div>
                    <p >{{ _("Nous mettons la technologie au service de votre <br class='d-none d-md-block'> stratégie. Notre mission est d’apporter des </br>
                        réponses concrètes à vos enjeux de <br class='d-none d-md-block'> performance, d’agilité et de compétitivité, <br class='d-none d-md-block'> grâce à une
                        expertise solide et contextualisée.") }}</p>
                    <h5 class="mb-3">{{ _("Déployer l’innovation pour <br class='d-none d-md-block'> servir votre stratégie.") }}</h5><button
                        class="capsule text-center" >{{ _("Notre mission") }}</button>
                </div>
        </div>
    </div>
</section>