<section class="container py-5" id="bigdata">
<div class="text-center mb-4">
<span class="capsule px-4">Big Data</span>
<h3 class="fw-bold mt-3">{{ title }}</h3>
</div>
<div class="row g-4 align-items-center">
<div class="col-12 col-md-4 text-center"><img src="{{ left_img }}" alt="kpi" class="img-fluid"></div>
<div class="col-12 col-md-4 text-center">
<p class="lead">{{ paragraph }}</p>
<a href="{{ cta_href }}" class="btn btn-contact btn-lg">{{ cta_label }}</a>
</div>
<div class="col-12 col-md-4 text-center"><img src="{{ right_img }}" alt="analytics" class="img-fluid"></div>
</div>
</section>