<section class="container py-5" id="erp">
    <div class="erp-section border">
        <div class="d-md-flex erp flex-md-row justify-content-between align-items-center">
            <div class="col-lg-6 erp-content">
                <span class="erp-badge px-4 py-2">ERP</span>
                <h2 class="erp-title mb-3 section-title">{{ title_html | safe }}</h2>
                <p class="mb-4 section-content">{{ desc }}</p>
                <a href="{{ cta_href }}" class="btn btn-contact">{{ cta_label }}</a>
            </div>
            <div class="col-lg-6 img-content-erp">
                <img src="{{ image }}" alt="ERP services" class="img-fluid" loading="lazy">
            </div>
            <img src="assets/amoamancustom/images/lets-icons_setting-fill.svg" alt="setting" class="icon-setting1" loading="lazy">
            <img src="assets/amoamancustom/images/lets-icons_setting-fill.svg" alt="setting" class="icon-setting2" loading="lazy">


        </div>
    </div>
</section>