<section class="py-5 position-relative overflow-hidden d-flex flex-row flex-md-column justify-content-between align-items-center" id="formation">
    <div class="container section-formation position-relative">
<div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
            <div class="col-lg-6 formation">

                 <span class="glow" style="--x:-25%; --y:50%; --size:50vmin; --blur:28px;"></span>
                        <span class="glow" style="--x:-25%; --y:55%; --size:50vmin; --blur:28px;"></span>


                <span class="section-capsule">{{ _("Formation") }}</span>
                <h2 class="display-6 fw-bold mt-3 lead mb-3 section-title">{{ _("Se former pour performer") }}</h2>
                <p class="lead section-content">{{ _("Des formations ciblées pour booster la performance de") }}          
                    <br class="d-none d-md-block" />
                    {{_("vos équipes techniques, métiers et décisionnelles.") }}
                </p>
               <p class="section-content">
                    {{ _("Les technologies évoluent vite. <strong>Pour rester <br class='d-none d-md-block'> 
                        compétitive, une entreprise doit s’appuyer sur des <br class='d-none d-md-block'> 
                        collaborateurs capables</strong> de comprendre, piloter et <br class='d-none d-md-block'> 
                        ettransformer les données en véritables leviers de <br class='d-none d-md-block'> performance.") }}
                </p>

                <div class="d-flex flex-wrap gap-2 mt-3">
                    <a href="#" class="btn btn-contact ">{{ _("Voir nos formations") }}</a>
                    <a href="#" style="display: none !important;" class="btn btn-outline-soft">{{ _("Télécharger notre
                        Plaquette") }}</a>
                </div>
            </div>
            <div class="col-lg-6 img-content text-center">
                <div class="svg-container">
                    {% include "amoamancustom/templates/includes/svg/services.svg" %}
                </div>
                <span class="glow" style="--x:40%; --y:50%; --size:65vmin; --blur:28px;"></span>
            </div>

        </div>
    </div>
</section>