<!-- IRIXFLOW FLOATING BUTTON -->
<div id="irixflow-fab" class="irixflow-fab" title="Ouvrir IrixFlow">
    <img src="/assets/amoamancustom/images/irixfloxLogoWhite.svg" alt="IrixFlow">
</div>

<!-- IRIXFLOW POPUP -->
<div id="irixflow-overlay" class="irixflow-overlay d-none">
    <div class="irixflow-popup shadow-lg">
        <button class="irixflow-close" aria-label="Close">&times;</button>

        <div class="irixflow-content">
            <div class="irixflow-header">
                <img src="/assets/amoamancustom/images/irisflowLogo.svg" class="logo-irix" />
            </div>

            <h2>
                <span class="highlight">La solution d’interfaçage rapide et <br> simple</span>
                à la plateforme <strong>FNE</strong>
                <img src="/assets/amoamancustom/images/fneLogo.svg" class="logo-fne" />
            </h2>

            <p>
                Avec <strong>IrixFlow</strong>, connectez votre système de gestion et<br>
                automatisez vos factures normalisées en <strong>72H</strong>.<br>
                <strong>Rejoignez les entreprises qui nous font confiance.</strong>
            </p>

            <a href="#" class="btn irixflow-btn">
                Découvrir IrixFlow
            </a>
        </div>
    </div>
</div>
