<nav class="navbar navbar-light fixed-top">
  <div class="navbar-fluid p-0 m-0">

    <!-- Burger menu mobile -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- Bloc gauche -->
    <div class="left-nav d-flex align-items-center flex-wrap border">
      <a class="btn text-nowrap" href="/erp#services">Services</a>
      <a class="btn btn-active text-nowrap" href="/erp#erp">ERP</a>
      <a class="btn text-nowrap" href="/erp#bigdata">Big Data</a>
      <a class="btn text-nowrap" href="/erp#sourcing">Sourcing</a>
      <a class="btn text-nowrap" href="/erp#formation">Formation</a>
      <a class="btn text-nowrap" href="/erp#conformite">Mise en Conformité</a>
    </div>

    <!-- Logo centré -->
    <a class="navbar-brand mx-auto d-flex align-items-center gap-1 " href="/erp#">
      <img src="assets/amoamancustom/images/logo.webp" alt="Logo" />
      <span>AMOAMAN & ASSOCIES</span>
    </a>

    <!-- Bloc droit -->
    <div class="right-nav d-flex align-items-center flex-wrap justify-content-end ">
      <a class="btn text-nowrap" href="/erp#agenda">Agenda</a>
      <a class="btn text-nowrap" href="/erp#apropos">A propos</a>
      <a class="btn text-nowrap" href="/erp#faq">FAQ</a>
      <a href="/contact" class="btn text-nowrap btn-contact btn-lg">Contactez-nous</a>
    </div>

  </div>
</nav>
